/* primero en el archivo CSS comienzo con los estilos generales universales*/

body {
    background-color: #005677;
}

/* estilos del header */
.encabezado {
    background-color: #E6E6E6;
    text-align: center;

}

img {
    

}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: #005677;
    background-color: #c4c4c4; 
    text-transform: uppercase;
    letter-spacing: 10px;
}

#tituloPrincipal {
    font-size: 35px;
    font-weight: 700; 

}